<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo0</title>
    <link href="<%= context.config.publicPath %>bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href="<%= context.config.publicPath %>style.css" />
    <link rel='stylesheet' href="<%= context.config.publicPath %>ribbon.css" />

    <script src="<%= context.config.publicPath %>jquery.min.js"></script>
    <script src="<%= context.config.publicPath %>bootstrap.min.js"></script>
    <script src="<%= context.config.publicPath %>wavesurfer.js"></script>
    <script src="<%= context.config.publicPath %>wavesurfer.cursor.js"></script>
    <script src="<%= context.config.publicPath %>wavesurfer.regions.js"></script>
    <script src="<%= context.config.publicPath %>wavesurfer.timeline.js"></script>
    <script src="<%= context.config.publicPath %>wavesurfer.spectrogram.js"></script>
</head>
<body style="padding:0 0">
    <div id='root' style="margin-top: 0px;height: 100%;width: 100%;"></div>
</body>
</html>